<h1>Schedule: #<%= @schedule.id %></h1>

<p>Schedule created by <%= @user.name %></p>

<p><b>With the content:</b></p>

<p><%= @schedule.content %></p>

<p><b>Time open:</b></p>
<p><%= @schedule.time_open %></p>

<p><b>Time finish:</b></p>
<p><%= @schedule.time_finish %></p>

<p><b>Date:</b></p>
<p><%= @schedule.date %></p>
